<div class="container">
  <div class="row signup-row">
    <div class="col s10 offset-s1" id="panel">
      <h3 id="title">Signup</h3>
      <div class="error__msg">
        <div class="error__msg--element" *ngFor="let msg of errorMessage">
          <span>{{ msg }}</span>
        </div>
      </div>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input
              id="signup-username"
              type="text"
              formControlName="username"
            />
            <label for="signup-username">Username</label>
            <div *ngIf="username.touched && username.invalid">
              <span *ngIf="username.errors.required" class="error">
                Username is required.
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="signup-email" type="email" formControlName="email" />
            <label for="signup-email">Email</label>
            <div *ngIf="email.touched && email.invalid">
              <span *ngIf="email.errors.required" class="error">
                Email is required.
              </span>
              <span *ngIf="email.errors.email" class="error">
                Email is invalid.
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input
              id="signup-password"
              type="password"
              formControlName="password"
            />
            <label for="signup-password">Password</label>
            <div *ngIf="password.touched && password.invalid">
              <span *ngIf="password.errors.required" class="error">
                Password is required.
              </span>
              <span *ngIf="password.errors.minlength" class="error">
                Minimum length is
                {{ password.errors.minlength.requiredLength }}.
              </span>
            </div>
          </div>
        </div>
        <button
          class="btn waves-effect"
          id="signupbtn"
          type="submit"
          [disabled]="!signupForm.valid"
        >
          Signup
        </button>
      </form>
    </div>
  </div>
</div>
